20049047 Shreya Rai/Catalog_20049047.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GiftCardStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ShopLogo"/>
        <xs:element type="xs:string" name="ShopName"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:string" name="ShopAddress"/>
        <xs:element name="ShopContact">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
            <xs:pattern value="[0-9]{10}"/> </xs:restriction>
           </xs:simpleType>
        </xs:element>
        <xs:element type="xs:string" name="ShopWebsite"/>
        <xs:element name="GiftCards">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Categories" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Category"/>
                    <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CardImage"/>
                          <xs:element type="xs:string" name="BrandName"/>
                          <xs:element type="xs:string" name="Cost"/>
                          <xs:element type="xs:byte" name="No_of_users" minOccurs="0"/>
                          <xs:element type="xs:string" name="Validity"/>
                          <xs:element type="xs:string" name="Discount"/>
                          <xs:element type="xs:string" name="Seller"/>
                          <xs:element name="DesignName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="designType" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="item_no" use="optional"/>
                        <xs:attribute type="xs:byte" name="no_of_users" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type" use="optional"/>
                  <xs:attribute type="xs:byte" name="no_of_users" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Message"/>
        <xs:element type="xs:string" name="copyright"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>